* text=auto

*.cu text eol=lf
*.h text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.txt text eol=lf
CMakeLists.txt text eol=lf

*.dat binary
*.pdf binary
*.pdb binary
*.pptx binary
*.jpg binary
*.ico binary
